.breaking-news {
    display: none;
}
@media (min-width: 660px) {
  .breaking-news {
    margin-top: -64px;
    display: block;
    padding: 60px 0 55px;
    background: white;
  }
  .breaking-news__title {
    width: 168px;
    font: 30px/36px "Open Sans Bold", Verdana, sans-serif;
    color: black;
    text-align: left;
    vertical-align: middle;
    margin: 32px 0 0 0;
  }
  .breaking-news__wrapper {
    margin: 0 15px 40px;
  }
  .breaking-news__descr {
    width: 296px;
    font: 14px/24px "Open Sans", "Verdana", sans-serif;
    text-align: left;
    color: #283645;
    margin: 10px 0;
    vertical-align: middle;
  }
  .breaking-news__link {
    font: 14px/24px "Open Sans", "Verdana", sans-serif;
    color: #d22856;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
  }
}
@media (min-width: 960px) {
  .breaking-news {
    padding-top: 0;
    margin-bottom: 66px;
  }
  .breaking-news__wrapper {
    margin: 19px 24px 60px 0;
  }
  .breaking-news__title {
    width: 340px;
    font: 30px/36px "Open Sans Bold", Verdana, sans-serif;
    margin: 14px 0 20px 0;
  }
  .breaking-news__descr {
    width: 550px;
    font: 18px/30px "Open Sans", "Verdana", sans-serif;
    margin-bottom: 32px;
  }
  .breaking-news__link {
    font: 18px/30px "Open Sans", "Verdana", sans-serif;
    text-decoration: underline;
    cursor: pointer;
  }
}
