.breaking-news {
    display: none;
}
@media (min-width: 660px) {
  .breaking-news {
    margin-top: -64px;
    display: block;
    padding: 60px 0 55px;
    background: white;
  }
  .breaking-news__center {
    width: 620px;
    margin: 0 auto;
    background: white url("../img/icon-timer.svg") no-repeat left top;
    background-size: 239px 276px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    &::before {
      content: "24";
      width: 175px;
      height: 175px;
      font: 96px/164px "Open Sans Bold", Verdana, sans-serif;
      color: #d22856;
      text-align: center;
      border: 14px solid #d22856;
      border-radius: 50%;
      position: absolute;
      left: 18px;
      top: 54px;
    }
  }
  .breaking-news__title {
    width: 168px;
    font: 30px/36px "Open Sans Bold", Verdana, sans-serif;
    color: black;
    text-align: left;
    vertical-align: middle;
    margin: 32px 0 0 0;
  }
  .breaking-news__wrapper {
    margin: 0 15px 40px;
  }
  .breaking-news__descr {
    width: 296px;
    font: 14px/24px "Open Sans", "Verdana", sans-serif;
    text-align: left;
    color: #283645;
    margin: 10px 0;
    vertical-align: middle;
  }
  .breaking-news__link {
    font: 14px/24px "Open Sans", "Verdana", sans-serif;
    color: #d22856;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
  }
}
@media (min-width: 960px) {
  .breaking-news {
    padding-top: 0;
    margin-bottom: 64px;
  }
  .breaking-news__center {
    width: 940px;
    padding-top: 60px;
    background: white url("../img/icon-timer.svg") no-repeat;
    background-size: 298px 345px;
    background-position: left top;
    position: relative;
    &::before {
      content: "24";
      width: 220px;
      height: 220px;
      font: 120px/206px "Open Sans Bold", Verdana, sans-serif;
      color: #d22856;
      text-align: center;
      border: 17px solid #d22856;
      border-radius: 50%;
      position: absolute;
      left: 22px;
      top: 70px;
    }
  }
  .breaking-news__wrapper {
    margin: 19px 24px 60px 0;
  }
  .breaking-news__title {
    width: 340px;
    font: 30px/36px "Open Sans Bold", Verdana, sans-serif;
    margin: 14px 0 20px 0;
  }
  .breaking-news__descr {
    width: 550px;
    font: 18px/30px "Open Sans", "Verdana", sans-serif;
    margin-bottom: 32px;
  }
  .breaking-news__link {
    font: 18px/30px "Open Sans", "Verdana", sans-serif;
    text-decoration: underline;
    cursor: pointer;
  }
}
