.breaking-news {
  background: white url("../img/24.png") no-repeat 40px 60px;
  display: none;
}
.breaking-news__title {
  width: 168px;
  font: 30px/36px "Open Sans Bold", Verdana, sans-serif;
  color: black;
  text-align: left;
  margin: 35px 0 0 0;
}
.breaking-news__descr {
  width: 296px;
  font: 14px/24px "Open Sans", "Verdana", sans-serif;
  text-align: left;
  color: #283645;
  margin: 10px 0;
}
.breaking-news__link {
  font: 14px/24px "Open Sans", "Verdana", sans-serif;
  color: #d22856;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .breaking-news {
    background: white url("../img/24.png") no-repeat 132px 60px;
    background-size: 298px 345px;
  }
  .breaking-news__title {
    width: 340px;
    font: 30px/36px "Open Sans Bold", Verdana, sans-serif;
    margin: 34px 0 21px 0;
  }
  .breaking-news__descr {
    width: 550px;
    font: 18px/30px "Open Sans", "Verdana", sans-serif;
    margin-bottom: 30px;
  }
  .breaking-news__link {
    font: 18px/30px "Open Sans", "Verdana", sans-serif;
    text-decoration: underline;
    cursor: pointer;
  }
}