.contacts {
  text-align: center;
  overflow: hidden;
  background: white;
}
.contacts__map {
  width: 100%;
  height: 200px;
}
.contacts__title {
  font: 24px/30px "Open Sans Light", Verdana, sans-serif;
  margin-bottom: 36px;
  color: #283645;
  vertical-align: middle;
}
.contacts__call,
.contacts__mail,
.contacts__address {
  font: 18px/18px "Open Sans Bold", Verdana, sans-serif;
  color: black;
  padding: 0;
  display: block;
  margin-bottom: 20px;
}
.contacts__address {
  margin-bottom: 40px;
}
.contacts__call-number,
.contacts__mail-link,
.contacts__address-location {
  font: 24px/28px "Open Sans Light", Verdana, sans-serif;
  text-decoration: none;
  color: #d22856;
  display: block;
  padding: 6px 0;
  &:hover {
    color: black;
  }
  &:active {
    color: fade(black, 30);
  }
}
@media (min-width: 660px) {
  .contacts {
    .clearfix();
  }
  .contacts__map {
    height: 378px;
  }
  .contacts__title {
    width: 400px;
    margin: 0 auto;
    font: 40px/48px "Open Sans Light", Verdana, sans-serif;
  }
  .contacts__call {
    padding-left: 47px;
    padding-top: 46px;
    float: left;
  }
  .contacts__mail {
    padding-top: 46px;
    padding-right: 30px;
    float: right;
  }
  .contacts__address {
    width: 260px;
    padding-top: 26px;
    clear: both;
    margin: 0 auto 14px;
  }
  .contacts__call-number,
  .contacts__mail-link,
  .contacts__address-location {
    padding-top: 8px;
  }
}
@media (min-width: 960px) {
  .contacts {
  }
  .contacts__map {
    width: 100%;
    height: 500px;
  }
  .contacts__title {
    order: -1;
    width: 700px;
    margin: 0 auto;
    font: 50px/60px "Open Sans Light", Verdana, sans-serif;
  }
  .contacts__call {
    order: 0;
    flex-basis: 300px;
    padding-left: 0;
    padding-top: 56px;
    margin-bottom: 0;
  }
  .contacts__mail {
    order: 2;
    flex-basis: 300px;
    padding-top: 56px;
    padding-right: 0;
    margin-bottom: 0;
  }
  .contacts__address {
    order: 1;
    flex-basis: 300px;
    width: 260px;
    padding-top: 56px;
    margin-bottom: 0;
  }
  .contacts__call-number,
  .contacts__mail-link {
    padding-top: 27px;
  }
  .contacts__address-location {
    padding: 27px 15px;
  }
}
