.equipment {
  background-color: white;
}
.equipment__wrapper {
  width: 320px;
  overflow: hidden;
}
.equipment__inner {
  width: 840px;
  padding: 20px;
}
.equipment__table {
  width: 280px;
  border-collapse: collapse;
  border-bottom: 2px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  float: left;
  margin-bottom: 40px;
}
.equipment__tr {
  vertical-align: middle;
  border-bottom: 2px solid #e5e5e5;
}
.equipment__header {
  background-color: #283645;
}
.equipment__thead {
  padding: 22px 0;
  text-align: center;
  vertical-align: middle;
}
.equipment__title {
  font: 18px/18px "Open Sans Bold", Verdana, sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 0 0 10px 0;
}
.equipment__price {
  font: 24px/24px "Open Sans Light", Verdana, sans-serif;
  text-transform: uppercase;
  color: white;
}
.equipment__value {
  padding-left: 20px;
  height: 57px;
  font: 14px/14px "Open Sans", Verdana, sans-serif;
  color: #283645;
  text-transform: uppercase;
}
.equipment__check {
  padding: 10px;
  background: url("../img/icon-yes.svg") no-repeat 0 50%;
}
.equipment__inner {
  margin-bottom: 40px;
}
