.layout {
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
}
.layout__center {
  width: 320px;
  margin: 0 auto;
}
.layout__center-download {
  width: 320px;
  margin: 0 auto;  
}
.layout__content {
  flex: 1 0 auto;
  background: white;
}
.layout__page-footer {
  height: 204px;
  padding: 40px 20px;
  flex: 0 0 auto;
}
.layout__page-form {
  padding: 45px 20px 0;
}
.layout__post-it {
}
@media (min-width: 660px) {
  .layout {
  }
  .layout__center {
    width: 660px;
  }
  .layout__content {
  }
  .layout__page-footer {
    height: 127px;
    padding: 0 40px;
  }
  .layout__photo {
    padding: 45px 40px 20px;
  }
  .layout__page-form {
    padding: 90px 40px 0;
  }
}

@media (min-width: 960px) {
  .layout__center {
    width: 960px;
  }
  .layout__center-header {
    width: 960px;
    margin: 0 auto;
  }
  .layout__page-footer {
    height: 198px;
    padding: 0 130px;
  }
  .layout__page-form {
    padding: 90px 120px 0;
  }
  .layout__photo {
    padding: 45px 130px 0 130px;
  }
}
