.layout_ {
  width: 100%;
}
.layout__header {
  min-height: 462px;
}
.layout__header-photo {
  min-height: 236px;
}
.layout__download {
  min-height: 220px;
  padding: 26px 20px;
}
.layout__features {
  padding: 0 20px 350px;
  margin-bottom: -35px;
}
.layout__reviews {
  padding: 0 20px;
  width: 280px;
  margin: 0 auto;
}
.layout__equipment {
  padding: 105px 0 54px 0;
  width: 320px;
  margin: 0 auto;
}
.layout__contacts {
  padding-bottom: 400px;
  height: 400px;
}
.layout__photo {
  padding: 45px 20px 20px;
  margin: 0 auto;
  width: 280px;
}
.layout__page-footer {
  padding: 40px 20px;
}
.layout__page-form {
  padding: 45px 20px 0;
  width: 280px;
  margin: 0 auto;
}
.layout__post-it {
  width: 320px;
  margin: 0 auto;
}