.main-nav {
  .clearfix();
  display: none;
  &--no-js {
    display: block;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 70px 0 0 0;
  background-color: #283645;
}
.main-nav__link {
  display: block;
  padding: 15px 0;
  background-color:#283645;
  color: #fff;
  font: 18px/32px "Open Sans Bold", "Verdana", sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}
.main-nav__link {
  &:hover {
    color: @purple;
  }
  &:active {
    color: fade(@purple, 30%);
  }
  &:first-child {
    box-shadow: 0 -1px 1px 0 black;
  }
}
.main-nav--opened {
  display: block;
}
@media (min-width: 660px) {
  .main-nav__list {
    padding-top: 110px;
  }
}

@media (min-width: 960px) {
  .main-nav {
    display: block;
    float: right;
  }
  .main-nav__list {
    width: 620px;
    display: flex;
    justify-content: space-between;
    padding: 46px 0 36px;
    background-color: transparent;
  }
  .main-nav__link {
    padding: 0;
    padding-bottom: 8px;
    background-color: transparent;
    border-width: 0;
    font: 18px/18px "Open Sans", "Verdana", sans-serif;
    text-transform: none;
    &--active {
      border-bottom: 2px solid white;
    }
    &--active:hover {
      border-bottom: 2px solid #D22856;
    }
    &:first-child {
      box-shadow: none;
    }
  }
}
