.page-header {
  padding-bottom: 0;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% top;
  border-bottom: 1px solid #222933;
  &--iphone-in-hand {
    background:
      url("../img/iphone-hand-mobile@1x.png") no-repeat bottom left,
      url("../img/bg-back-mobile@1x.jpg") no-repeat 50% bottom,
      #1d2631;
    padding-bottom: 396px;
  }
}
.page-header__toggle-menu {
  width: 50px;
  height: 25px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: url("../img/icon-menu-burger.svg") no-repeat 20px 20px;
  &--close {
    background: url("../img/icon-menu-cross.svg") no-repeat 42px;
  }
}
.page-header__top {
  min-height: 66px;
  background: rgba(0, 0, 0, 0.3);
  .clearfix();
}
.page-header__logo {
  float: left;
  padding: 20px 20px;
}
.page-header__toggle-menu {
  float: right;
  padding: 20px 20px;
}
.page-header__bottom {
  height: 170px;
  text-align: center;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% -66px;
}
.page-header__title {
  font: 24px/28px "Open Sans Light", Verdana, sans-serif;
  color: #fff;
  margin: 0;
  padding: 30px 20px 0;
}
