.page-header {
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% top;
  border-bottom: 1px solid #222933;
  &--iphone-in-hand {
    background:
      url("../img/iphone-hand-mobile@1x.png") no-repeat bottom left,
      url("../img/bg-back-mobile@1x.jpg") no-repeat 50% bottom,
      #1d2631;
    padding-bottom: 396px;
  }
}
@media (min-resolution: 1.5dppx) and (max-width: 569px), (min-resolution: 144dpi) and (max-width: 569px) {
  .page-header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
    &--iphone-in-hand {
      background:
        url("../img/iphone-hand-mobile@2x.png") no-repeat bottom left,
        url("../img/bg-back-mobile@2x.jpg") no-repeat 50% bottom,
        #1d2631;
      background-size: 258px auto, 700px auto;
    }
  }
}
.page-header__toggle-menu {
  width: 50px;
  height: 25px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  float: right;
  margin: 20px;
  padding: 0;
  position: relative;
  background-color: transparent;
  outline: none;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 15px;
    border: 5px solid white;
    border-left-width: 0;
    border-right-width: 0;
    left: 0;
    top: 0;
  }
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 10px;
    border: 5px solid white;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    left: 0;
    top: 0;
  }
  &:hover::after {
    border-color: #d22856;
  }
  &:hover::before {
    border-color: #d22856;
  }
  &:active::after {
    border-color: fade(#d22856, 30%);
  }
  &:active::before {
    border-color: fade(#d22856, 30%);
  }
  &--close {
    width: 30px;
    height: 30px;
    margin: 18px 20px 0 0;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 30px;
      border: 5px solid white;
      border-right-width: 0;
      border-top-width: 0;
      border-bottom-width: 0;
      transform: translateX(16px) rotate(-45deg);
      top: 0;
      left: 0;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 30px;
      border: 5px solid white;
      border-left-width: 0;
      border-top-width: 0;
      border-bottom-width: 0;
      transform: translateX(16px) rotate(45deg);
      top: 0;
      left: 0;
    }
  }
}
.page-header__top {
  min-height: 66px;
  background: rgba(0, 0, 0, 0.3);
  .clearfix();
}
.page-header__logo {
  padding-top: 4px;
  margin-left: -51px;
  fill: white;
  &:hover {
    fill: #d22856;
  }
  &:active {
    fill: fade(white, 30%);
  }
}
.page-header__logo-glass {
  display: none;
}
.page-header__logo-stars {
  fill: transparent;
}
.page-header__link {
  float: left;
}
.page-header__bottom {
  min-height: 170px;
  text-align: center;
  vertical-align: middle;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% -65px;
}
@media (min-resolution: 1.5dppx) and (max-width: 569px), (min-resolution: 144dpi) and (max-width: 569px) {
  .page-header__bottom {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }
}
.page-header__title {
  font: 24px/28px "Open Sans Light", Verdana, sans-serif;
  color: #fff;
  vertical-align: middle;
  margin: 0;
  padding: 30px 20px 0;
}
@media (min-width: 660px) {
  .page-header {
    border-bottom: 0;
    background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat 50% top;
    &--iphone-in-hand {
      background:
        url("../img/iphone-hand-tablet.png") no-repeat right bottom,
        #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat center bottom;
      padding-bottom: 618px;
      margin-bottom: -620px;
    }
  }
  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .page-header {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
      &--iphone-in-hand {
        background:
          url("../img/iphone-hand-tablet@2x.png") no-repeat bottom left,
          url("../img/bg-back-tablet@2x.jpg") no-repeat 50% bottom,
          #1d2631;
        background-size: 700px auto, 1200px auto;
      }
    }
  }
  .page-header__top {
    min-height: 110px;
  }
  .page-header__logo {
    padding-top: 27px;
    margin-left: 40px;
  }
  .page-header__logo-glass {
    display: block;
  }
  .page-header__toggle-menu {
    margin: 40px;
    &--close {
      margin: 42px 40px 0 0;
    }
  }
  .page-header__bottom {
    min-height: 330px;
    background: #1d2631 url("../img/bg-back-tablet@1x.jpg") no-repeat 50% -110px;
  }
  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .page-header__bottom {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }
  .page-header__title {
    font: 50px/58px "Open Sans Light", Verdana, sans-serif;
    color: #fff;
    padding: 70px;
  }
}
@media (min-width: 960px) {
  .page-header {
    border-bottom: 1px solid #222933;
    background: #1d2631 url("../img/bg-back-desktop@1x.jpg") no-repeat 50% top;
    background-size: cover;
    &--iphone-in-hand {
      padding-bottom: 740px;
      margin-bottom: -740px;
    }
  }
  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    .page-header {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
  .page-header__toggle-menu {
    display: none;
  }
  .page-header__logo {
    padding-top: 28px;
    margin-left: 0;
  }
  .page-header__logo-stars {
    fill: #D22856;
  }
  .page-header__bottom {
    min-height: 282px;
    background: transparent;
  }
  .page-header__title {
    width: 750px;
    margin: 0 auto;
    padding: 65px 0 0 0;
    &--photo {
      width: 570px;
    }
  }
}
