.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  &--index {
    display: none;
  }
}
.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer__copyright-link {
  width: 27px;
  height: 34px;
}
.page-footer__designed {
  font: 14px/18px "Open Sans", Verdana, sans-serif;
  color: #283645;
  margin-right: 15px;
}
.page-footer__htmlacademy {
  fill: #d22856;
}

@media (min-width: 700px) {
  .page-footer {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .page-footer__designed {
    font-size: 18px;
  }
}
