.page-form {
  background-color: white;
}
.page-form__text-lead {
  height: 125px;
  text-align: center;
  margin: 0;
  font: 14px/30px "Open Sans", Verdana, sans-serif;
  color: #283645;
}
.page-form__legend {
  padding: 34px 0 14px 0;
  margin: 0;
  text-align: center;
  font: 14px/30px "Open Sans", Verdana, sans-serif;
  color: #000;
  text-transform: uppercase;
}
.page-form__asterix {
  color: #d22856;
}
