.page-footer {
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-footer__copyright-link {
  width: 27px;
  height: 34px;
}
.page-footer__designed {
  font: 14px/18px "Open Sans", Verdana, sans-serif;
  color: #283645;
  margin-right: 15px;
}
.page-footer__htmlacademy {
  fill: #d22856;
}
