.photo {
  background-color: white;
}
.photo__text-lead {
  height: 139px;
  text-align: center;
}
.photo__text {
  margin: 0;
  font: 14px/30px "Open Sans", Verdana, sans-serif;
  color: #283645;
}
.photo__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.photo__item {
  margin: 0;
  padding: 0 0 22px 0;
}
.photo__img {
  &--panoram-day {
    margin-left: -20px;
  }
}
.photo__wrapper {
  padding: 14px 10px 15px 17px;
}
.photo__author {
  font: 14px/24px "Open Sans Bold", Verdana, sans-serif;
  color:#283645;
  margin: 0;
}
.photo__time {
  font: 12px/24px "Open Sans Light", Verdana, sans-serif;
  color: #283645;
  text-transform: uppercase;
  margin: 0;
}
.photo__desc {
  font: 14px/24px "Open Sans", Verdana, sans-serif;
  color: #283645;
  margin: 0 0 10px 0;
}
.photo__like-stats {
  padding-left: 33px;
  font: 12px/24px "Open Sans", Verdana, sans-serif;
  text-transform: uppercase;
  color: #d22856;
  position: relative;
}
.photo__heart-svg {
  fill: #d22856;
  position: absolute;
  left: 1px;
  top: 4px;
}