.post-it {
  background-color: white;
}
.post-it__text-lead {
  height: 135px;
  text-align: center;
}
.post-it__text {
  margin: 0;
  font: 14px/30px "Open Sans", Verdana, sans-serif;
  color: #283645;
}
.photo-edit {
  padding: 20px;
}
