.reviews {
  background-color: white;
}
.reviews__wrapper {
  width: 280px;
  overflow: hidden;
}
.reviews__item {
  width: 280px;
  background-color: white;
  padding: 50px 0 20px;
  margin: 0;
  float: left;
}
.reviews__author-name {
  display: block;
  font: 18px/10px "Open Sans Bold", "Verdana", sans-serif;
  text-align: center;
  margin-bottom: 23px;
  color: black;
}
.reviews__descr {
  font: 14px/30px "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: #283645;
}