.social {
  list-style: none;
  padding: 0;
  background-color: white;
}
.social__item {
  float: left;
  margin-right: 12px;
  &:last-child {
    margin: 0;
  }
}
.social__link {
  display: inline-block;
  float: left;
  height: 45px;
  width: 45px;
  border: 2px solid #e9ebec;
  border-radius: 50%;
  position: relative;
}
.social__icon {
  position: absolute;
  fill: #d22856;
  &--twitter {
    top: 35%;
    left: 30%;
  };
  &--facebook {
    top: 29%;
    left: 39%;
  };
  &--youtube {
    top: 35%;
    left: 37%;
  };
}